/* General */
:root {
	--pink: #c20098;
	--purple: #9200b3;
	--dark-purple: #510163;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	font-family: 'Geometria', apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	position: relative;
	min-height: 100vh;
}
a[href^="tel:"] {
	color: inherit;
}
section {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.section-heading {
	color: var(--purple);
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 800;
	letter-spacing: 3px;
	margin-bottom: 3rem;
}
*:focus {
	outline: none;
}
.form-control {
	background-color: transparent;
	border: none;
	border-radius: 0;
}
.form-control:focus {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.btn {
	color: #fff;
	background-color: var(--purple);
	font-size: 0.9rem;
	font-weight: 600;
	border-radius: 30px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border: none;
}
.btn:hover {
	color: #fff;
}
.btn:disabled, 
.btn.disabled {
		cursor: default;
}
.btn.focus, 
.btn:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-big {
	padding: 1rem 4.2rem;
}
.btn-gradient {
	background-image: linear-gradient(45deg, var(--purple) 60%, var(--pink));
	background-position: 100% 0;
	background-size: 200% 200%;
	-webkit-box-shadow: 0 16px 32px 0 rgba(146, 0, 179, 0.35);
	box-shadow: 0 16px 32px 0 rgba(146, 0, 179, 0.35);
}
.btn-gradient:hover:not(:disabled):not(.disabled) {
	background-position: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-purple {
	background-color: var(--purple);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn-purple:hover:not(:disabled):not(.disabled) {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.breadcrumb {
	margin-top: 8rem;
	margin-bottom: 2rem;
	background-color: transparent;
	padding-left: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "→";
}
.breadcrumb-item a {
	color: inherit;
}
.breadcrumb-item a:hover {
	color: var(--purple);
}
/* End General */

/* Media General */
@media (max-width: 991px) {
	.breadcrumb {
		margin-top: 4rem;
		margin-bottom: 1rem;
	}
}
@media (max-width: 575px) {
	.section-heading {
		font-size: 2.5rem; 
	}
}
@media (max-width: 490px) {
	.section-heading {
		font-size: 1.7rem; 
	}
}
/* End Media General */

/* Enroll Modal */
.enroll-modal .modal-header {
	background-color: var(--purple);
	color: #fff;
	font-size: 1.5rem;
	padding-left: 2rem;
}
.enroll-modal .close {
	color: #fff;
	opacity: 1;
}
.enroll-modal .modal-body {
	padding: 2rem;
}
.enroll-modal form input {
	border-bottom: 1px solid var(--purple);
	margin-bottom: 2rem;
}
.enroll-modal form textarea {
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.enroll-modal form .btn {
	margin-top: 2rem;
	padding: 0.5rem 1.2rem;
}
/* End Enroll Modal */

/* Confirm Modal */
.confirm-modal .modal-header {
	border: none;
}
.confirm-modal .modal-body {
	font-weight: 500;
	padding: 2rem;
	padding-top: 0;
	text-align: center;
}
/* End Confirm Modal */

/* Navbar */
.navbar {
	background-color: #fff;
}
.navbar-brand img {
	width: 200px;
}
.navbar .navbar-nav .nav-link {
	font-weight: 600;
	color: #212529;
	padding-right: 15px;
	padding-left: 15px;
}
.navbar .navbar-nav .nav-link:hover {
	color: var(--purple);
}
.navbar-toggler {
	position: relative;
	padding: 0;
	border-radius: 0;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 28px;
	height: 20px;
	margin-top: 0.5rem;
	z-index: 3;
}
.navbar-toggler span,
.navbar-toggler span:before,
.navbar-toggler span:after {
	display: block;
	width: 100%;
	height: 3px;
	background-color: #212529;
	position: absolute;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.navbar-toggler span:before {
	content: "";
	top: -8px;
}
.navbar-toggler span:after {
	content: "";
	top: 8px;
}
.navbar-toggler:focus,
button:focus {
	outline: none;
}
.navbar-toggler[aria-expanded="true"] span {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] span:before {
	top: 0;
	-webkit-transform: rotate(0);
	transform: rotate(0);
}
.navbar-toggler[aria-expanded="true"] span:after {
	top: 0;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
/* End Navbar */

/* Media Navbar */
@media(max-width: 991px) {
	.navbar .navbar-collapse {
		background-color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.navbar .navbar-brand img {
		width: 150px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand img {
		width: 150px;
	}
	.navbar .navbar-nav .nav-link {
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.9rem;
	}
}
/* End Media Navbar */

/* Main Screen */
.main-screen {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #c002cb), to(var(--purple)));
	background-image: linear-gradient(to bottom, #c002cb 20%, var(--purple));
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom, bottom 5px;
	padding-top: 150px;
	padding-bottom: 200px;
	color: #fff;
	position: relative;
}
.main-screen .container {
	position: relative;
}
.main-screen h1 {
	text-transform: uppercase;
	font-size: 4.375rem;
	font-weight: 800;
	letter-spacing: 3px;
	margin-bottom: 2rem;
}
.main-screen form {
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.main-screen input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.main-screen input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
}/* Firefox 19+ */
.main-screen input:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
}/* Firefox 18- */
.main-screen input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.main-screen input {
	border-bottom: 1px solid #fff;
	color: #fff;
}
.main-screen input:focus {
	color: #fff;
	border-color: #fff;
}
.main-screen .btn {
	background-image: linear-gradient(45deg, #e900ae 60%, #ff4dd6);
	-webkit-box-shadow: 0 16px 32px 0 rgba(255, 13, 199, 0.35);
	box-shadow: 0 16px 32px 0 rgba(255, 13, 199, 0.35);
	padding: 0.9rem 2.1rem;
	background-position: 100% 0;
	background-size: 200% 200%;
}
.main-screen .btn:hover:not(:disabled):not(.disabled) {
	background-position: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.main-screen .personal-data {
	font-size: 0.9rem;
	color: rgba(255, 255, 255, 0.7); 
}
.main-screen .main-screen-pic {
	position: absolute;
	top: 0;
	right: -100px;
	right: -50px;
	width: 25vw;
}
.main-screen .wave {
	display: block;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
	animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}
@-webkit-keyframes animateWave {
  0% {
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1); 
  }
}
@keyframes animateWave {
  0% {
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
  }
  100% {
    -webkit-transform: scale(1,1);
    transform: scale(1,1); 
  }
}
/* Main Screen */

/* Media Main Screen */
@media (max-width: 991px) {
	.main-screen .navbar {
		background-color: transparent;
	}
	.main-screen .navbar .navbar-brand img {
		display: none;
	}
}
@media (min-width: 1200px) and (max-width: 1600px) {
	.main-screen {
		padding-bottom: 180px;
	}
	.main-screen .main-screen-pic {
		width: 30vw;
		right: 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.main-screen {
		padding-bottom: 120px;
	}
	.main-screen h1 {
		font-size: 3.5rem;
	} 
	.main-screen .main-screen-pic {
		width: 32vw;
		right: 0;
		top: -30px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.main-screen {
		padding-bottom: 100px;
	}
	.main-screen h1 {
		font-size: 2.4rem;
	} 
	.main-screen .lead {
		font-size: 1rem;
	}
	.main-screen .main-screen-pic {
		width: 33vw;
		right: -10px;
		top: -40px;
	}
}
@media (max-width: 767px) {
	.main-screen {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.main-screen h1 {
		font-size: 1.6rem;
	} 
	.main-screen .lead {
		font-size: 1rem;
	}
	.main-screen .main-screen-pic {
		width: 35vw;
		right: -10px;
		top: -20px;
	}
	.main-screen .form-control {
		margin-bottom: 2rem;
	}
}
@media (max-width: 575px) {
	.main-screen {
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(186,0,155,0.7)), to(rgba(133,0,163,1))), url(../img/main-screen-bg-for-small.jpg);
		background-image: linear-gradient(to bottom, rgba(186,0,155,0.7), rgba(133,0,163,1)), url(../img/main-screen-bg-for-small.jpg);
		background-position: center;
		background-size: cover;
		padding-top: 70px;
		padding-bottom: 100px;
	}
	.main-screen  .lead {
		font-weight: 400;
		font-size: 0.9rem;
	}
	.main-screen form {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.main-screen .main-screen-pic {
		display: none;
	}
}
/* End Media Main Screen */

/* Social */
.social-item {
	display: block;
	padding-left: 80px;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 50px;
	line-height: 50px;
	font-weight: 600;
	font-size: 1.2rem;
	color: inherit;
}
.social-item:hover {
	text-decoration: none;
	color: var(--purple);
}
.social-item-vk {
	background-image: url(../img/vk.png);
}
.social-item-yt {
	background-image: url(../img/yt.png);
}
.social-item-inst {
	background-image: url(../img/inst.png);
}
.social-item-tg {
	background-image: url(../img/tg.png);
}
/* End Social */

/* Media Social */
@media (max-width: 1199px) {
	.social-item {
		background-size: 40px;
		line-height: 40px;
		padding-left: 50px;
	}
}
@media (max-width: 991px) {
	.social-item {
		margin-bottom: 3rem;
		padding-left: 60px;
	}
}
@media (max-width: 575px) {
	.social-item {
		background-size: 30px;
		margin-bottom: 1rem;
		line-height: 30px;
		font-size: 1rem;
	}
}
/* End Media Social */

/* Lessons */
.lessons .bigger-text {
	font-size: 1.25rem;
}
.lessons b {
	font-weight: 800;
}
.lessons small {
	font-size: 0.88rem;
}
.lessons .btn {
	margin-top: 2rem;
}
.lessons table {
	font-weight: 500;
}
/* Lessons */

/* Media Lessons */
@media (max-width: 767px) {
	.adults .btn {
		margin-top: 1rem;
	}
}
/* End Media Lessons */

/* Schedule */
.schedule-item {
/*	font-size: 1.1rem;*/
	font-weight: 500;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	padding-bottom: 3rem;
	padding-top: 3rem;
}
.schedule-item h3 {
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 1.65rem;
}
.schedule-item .start {
	font-weight: 800;
/*	font-size: 1.25rem;*/
	display: inline-block;
	width: 145px;
}
.schedule-item .day {
	display: inline-block;
	width: 33px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	border-radius: 50%;
	font-weight: 400;
}
.schedule-item .day.active {
	background-color: var(--purple);
	color: #fff;
	font-weight: 600;
}
.schedule-item .time {
	font-weight: 600;
}
.schedule-item .btn {
	padding: 0.5rem 1.2rem;
}
/* End Schedule */

/* Media Schedule */
@media (max-width: 991px) {
	.schedule-item {
		font-size: 1rem;
	}
	.schedule-item .start {
		font-size: 1.1rem;
	}
}
@media (min-width: 576px) and (max-width: 600px) {
	.schedule-item .day {
		font-size: 0.9rem;
		width: 30px;
		height: 30px;
		line-height: 30px;
	}
} 
/* End Media Schedule */

/* Instructors */
.instructors {
	font-size: 1.15rem;
	font-weight: 500;	
}
.instructors .section-heading {
	margin-bottom: 2.2rem;
}
.instructors h3 {
	font-weight: 800;
	font-size: 2.05rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.instructors-item {
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.5rem;
	padding: 2rem 1rem;
	font-weight: 400;
	font-size: 1rem;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.instructors-item img {
	border-radius: 50%;
	margin-bottom: 3rem;
	width: 100%;
}
.instructors-item .embed-responsive {
	margin-bottom: 3rem;
	border-radius: 50%;
}
.instructors-item .contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.instructors-item .vk,
.instructors-item .insta {
	display: inline-block;
	width: 30px;
	height: 30px;
	
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.5rem;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.instructors-item .vk {
   background-image: url(../img/vk-blue.png);
}
.instructors-item .insta {
   background-image: url(../img/insta-colored.svg);
}
.instructors-item .vk:hover,
.instructors-item .insta:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.1);
}
.instructors-item .tel {
	font-weight: 600;
	font-size: 0.9rem;
	display: inline-block;
}
.instructors-item h4 {
	font-weight: 800;
	font-size: 1.4rem;
}
.instructors-item .students {
	font-size: 0.9rem;
	color: #7a7a7a;
}
.instructors-item .btn {
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;
}
/* End Instructors */

/* Media Instructors */
@media (min-width: 992px) and (max-width: 1199px) {
	.instructors-item {
		font-size: 0.8rem;
	}
	.instructors-item .contacts {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.instructors-item .vk {
		margin-right: 0;
		position: relative;
		top: -10px;
	}
	.instructors-item .btn {
		font-size: 0.8rem;
	}
}
@media (max-width: 991px) {
	.instructors-item img,
	.instructors-item .embed-responsive {
		margin-bottom: 1rem;
	} 
}
@media (max-width: 575px) {
	.instructors-item {
		font-size: 0.8rem;
	}
	.instructors-item .contacts {
		margin-bottom: 1rem;
	}
}
/* End Media Instructors */

/* Map */
.map {
	position: relative;
	padding: 0;
}
.map .wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 5rem;
	padding-bottom: 2rem;
	z-index: 2;
	pointer-events: none;
}
.map .box {
	padding: 3rem;
	background-color: #fff;
	font-size: 1.125rem;
	pointer-events: auto;
}
.map h2 {
	text-transform: none;
	letter-spacing: 0;
	font-size: 1.75rem;
	margin-bottom: 2.5rem;
}
.map .tel {
	font-weight: 500;
	margin-top: 1.5rem;
	margin-bottom: 4rem;
}
.map .social-icon {
	display: inline-block;
	margin-right: 0.5rem;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.map .social-icon:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
} 
.map .social-icon-vk {
	background-image: url(../img/vk.svg);
}
.map .social-icon-yt {
	background-image: url(../img/youtube.svg);
}
.map .social-icon-inst {
	background-image: url(../img/instagram.svg);
	background-size: 80%;
}
.map .social-icon-tg {
	background-image: url(../img/telegram.svg);
	background-size: 90%;
}
/* End Map */

/* Media Map */
@media (max-width: 991px) {
	.map .wrapper {
		position: relative;
		padding-top: 3rem;
	}
	.map .box {
		padding: 0;
	}
	.map .tel {
		margin-bottom: 3rem;
	}
}
/* End Media Map */

/* Rollerclub */
.rollerclub {
	font-size: 1.25rem;
}
.rollerclub b {
	font-weight: 800;
}
.rollerclub a {
	color: var(--purple);
	border-bottom: 2px solid var(--purple);
	text-decoration: none;
}
/* End Rollerclub */

/* Media Rollerclub */
@media (max-width: 1199px) {
	.rollerclub {
		font-size: 1.15rem;
	}
}
@media (max-width: 767px) {
	.rollerclub {
		font-size: 1rem;
	}
}
/* End Media Rollerclub */

/* Enroll */
.enroll {
	font-size: 1.25rem;
}
.enroll b {
	font-weight: 800;
}
.enroll form input {
	border-bottom: 1px solid var(--purple);
	margin-bottom: 2rem;
}
.enroll form .btn {
	margin-top: 2rem;
}
/* End Enroll */

/* Media Enroll */
@media (max-width: 1199px) {
	.enroll {
		font-size: 1.15rem;
	}
}
@media (max-width: 767px) {
	.enroll {
		font-size: 1rem;
	}
}
@media (max-width: 575px) {
	.enroll form {
		margin-top: 2rem;
	}
	.enroll form .btn {
		margin-top: 1rem;
	}
}
/* End Media Enroll */

/* Footer */
.footer {
	font-weight: 800;
	font-size: 0.9rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.footer a {
	color: inherit;
	text-decoration: none;
}
.footer a:hover {
	color: var(--purple);
}
.footer .footer-nav-link {
	display: inline-block;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
/* End Footer */

/* Article */
.article {
	padding-bottom: 5rem;
	font-size: 1.3rem;
}
.article .lead {
	font-size: 1.5rem;
}
.article header {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15rem;
	padding-bottom: 15rem;
	
}
.article h1 {
	font-size: 3.2rem;
}
.article h2 {
	font-size: 2.4rem;
	margin-bottom: 3rem;
}
.article h3 {
	margin-top: 4rem;
	margin-bottom: 2rem;
}
.article ol {
	counter-reset: section;   
	list-style-type: none;
	padding-left: 0;
}
.article ol li {
	margin-bottom: 2rem;
	position: relative;
	padding-left: 35px;
	padding-left: 40px;
}
.article ol li:before {
	counter-increment: section;
	content: counter(section);
	position: absolute;
	display: block;
	float: left;
	color: #fff;
	background-color: var(--dark-purple);
	border-radius: 50%;
	font-weight: 600;
	line-height: 30px;
	left: 0;
	height: 30px;
	width: 30px;
	text-align: center;
}
.article .sidenote {
	color: #555;
	font-family: 'Caveat', cursive;
}
.article blockquote {
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 40px;
	padding-right: 20px;
	border-right: 2px solid var(--dark-purple);
	background-image: url(../img/left-quotes-sign.svg);
	background-size: 30px;
	background-repeat: no-repeat;
	color: #666;
	font-style: italic;
}
.article blockquote footer {
	color: #666;
	font-size: 1rem;
}
/* End Article */

/* Media Article */
@media (max-width: 991px) {
	.acticle h1 {
		font-size: 3rem;
	}
}
@media (max-width: 767px) {
	.article h1 {
		text-align: center;
	}
}
/* End Media Article */

/* Article Choice */
.choice header {
	background-position: bottom right;
	background-image: 
		-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.5))),
		url(../img/choice-cover.jpg);
	background-image: 
		linear-gradient(rgba(0,0,0,0.5)),
		url(../img/choice-cover.jpg);
	color: #fff;
}
/* End Article Choice */

/* Media Choice */
@media (max-width: 1199px) {
	.choice header {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}
@media (max-width: 991px) {
	
}
/* End Media Choice */

/* Instructor Page */
.instructor-page h1 {
	font-size: 1.65rem;
	font-weight: 600;
}
.instructor-page .nickname {
	color: var(--purple);
}
.instructor-page .position {
	text-transform: uppercase;
	color: #a3a3a3;
	font-weight: 500;
	font-size: 1.13rem;
}
.instructor-page .contacts {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 3rem;
}
.instructor-page .vk,
.instructor-page .insta {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 0.5rem;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.instructor-page .vk {
	background-image: url(../img/vk-blue.png);
}
.instructor-page .insta {
	background-image: url(../img/insta-colored.svg);
}
.instructor-page .vk:hover,
.instructor-page .insta:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.1);
}
.instructor-page .tel {
	font-weight: 600;
	font-size: 1.06rem;
	display: inline-block;
}
.instructor-page h2 {
	margin-bottom: 3rem;
}
.instructor-page .achievements-item {
	margin-bottom: 2rem;
}
.instructor-page .achievements-item p {
	margin-bottom: 0.4rem;
}
.instructor-page .achievements-item small {
	color: #666;
}
.instructor-page .video .embed-responsive:not(:first-child) {
	margin-top: 3rem;
}
.instructor-page .photos img {
	margin-bottom: 30px;
}
.instructor-page .reviews-item:nth-child(even) {
	background-color: #f5f5f5;
}
.instructor-page .reviews-item .avatar {
	border-radius: 50%;
}
.instructor-page .reviews-item .empty-avatar {
	border-radius: 0;
	width: 50%;
}
.instructor-page .reviews-item .name {
	font-weight: 500;
	margin-top: 2rem;
}
.instructor-page .reviews-item .vk {
	width: 25px;
	height: 25px;
	margin-top: 0.5rem;
}
/* End Instructor Page */

/* Media Instructor Page */
@media (min-width: 576px) and (max-width: 991px) {
	.instructor-page .card-columns {
		-webkit-column-count: 2;
		column-count: 2;
	}
}
/* End Media Instructor Page */

/* Knowledge Base */
.knowledge-base section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.knowledge-base h1 {
	margin-top: 5rem;
	margin-bottom: 1rem;
}
.knowledge-base h2 {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 0;
}
.knowledge-base .show-all {
	display: block;
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 2rem;
}
.knowledge-base .video-link {
	display: block;
	margin-bottom: 3rem;
}
.knowledge-base .video-cover-container {
	position: relative;
}
.knowledge-base .video-duration {
	display: block;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.1rem 0.5rem;
}
.knowledge-base .video-name {
	font-size: 0.9rem;
	color: #212529;
	text-decoration: none;
	position: absolute;
}
.knowledge-base .video-link:hover {
	text-decoration: none;
}
.knowledge-base .owl-prev, 
.knowledge-base .owl-next {
	position: fixed;
	top: calc(50vh - 70px);
	background-color: #fff !important;
	display: block;
	width: 40px;
	height: 140px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.knowledge-base .owl-prev {
	left: 0;
	-webkit-box-shadow: 2px 0 5px 0 rgba(0,0,0,0.3);
	box-shadow: 2px 0 5px 0 rgba(0,0,0,0.3);
}
.knowledge-base .owl-next {
	right: 0;
	-webkit-box-shadow: -2px 0 5px 0 rgba(0,0,0,0.3);
	box-shadow: -2px 0 5px 0 rgba(0,0,0,0.3);
}
.knowledge-base .owl-prev img, 
.knowledge-base .owl-next img {
	width: 25px;
} 
.knowledge-base .owl-prev.disabled img, 
.knowledge-base .owl-next.disabled img {
	opacity: 0.3;
}
/* End Knowledge Base */

/* Media Knowledge Base */
@media (max-width: 767px) {
	.knowledge-base .owl-prev, 
	.knowledge-base .owl-next {
		width: 35px;
		height: 100px;
		top: calc(50vh - 50px);
	}
	.knowledge-base .owl-prev img, 
	.knowledge-base .owl-next img {
		width: 20px;
	}
}
@media (min-width: 768px) {
	.knowledge-base .owl-prev:not(.disabled):hover, 
	.knowledge-base .owl-next:not(.disabled):hover {
		width: 50px;
	}
}
/* End Media Knowledge Base */

/* Unknown Instructor */
.unknown-instructor {
	padding-top: 150px;
}
.unknown-instructor .avatar {
	max-height: 50vh;
}
/* End Unknown Instructor */

/* Media Unknown Instructor */
@media (max-width: 575px) {
	.unknown-instructor .avatar {
		height: 30vh;
		margin-top: 3rem;
	}
}
/* End Media Unknown Instructor */